<h2>Resend confirmation instructions</h2>

<div class="advice">
	<%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
	  
	  <% if flash[:notice] %>
	    <p class="flash-notice"><%= flash[:notice] %></p>
	  <% end %>
	<% if flash[:alert] %>
		<p class="flash-alert"><%= flash[:alert] %></p>
	<% end %>
	  <%= f.full_error :confirmation_token %>
	
	  <div class="form-inputs">
	    <%= f.input :email, required: true, autofocus: true %>
	  </div>
	
	  <div class="form-actions">
	    <%= f.button :submit, "Resend confirmation instructions", style: "width:100%; margin-left: 0px; margin-right:0px;" %>
	  </div>
	<% end %>
</div>

<%= render "devise/shared/links" %>
