<% @user = User.find(comment.user_id) %>
<div class="comment">
	<div class="image-bubble"> 
		<%= image_tag @user.avatar.url(:thumb) %>
	</div>
	<div class="comment-bubble bubble-float-left" >
		
		<% if can? :destroy, comment %>
			<span class="comments-delete" >
				<%= link_to "", comment , method: :delete, data: { confirm: 'Are you sure?' } %>
			</span>
		<% end %>
		<div class="name"><%= @user.username %> said :</div>
		<div class="text"><%= simple_format(comment.comment) %></div>
		<div class="date"><%= comment.created_at.to_s(:short) %></div>
		
	    <div class="<%= comment.class %>-<%= comment.id %>">
			<%= render 'shared/like_form', likeable: comment %>
		</div>
	</div>
</div>