<% @user = User.find(post.user_id) %>
<% if post.post_type == "image" %>
	<figure class="entry-thumbnail">
			<%= link_to post do %>
			
				<%= image_tag post.image.url %>
				<!-- <img width="816" height="540" src="http://fictivedemo.files.wordpress.com/2011/07/unsplash_52d5c05422a47_1.jpg?w=1268" class="attachment-fictive-index-thumb wp-post-image" alt="unsplash_52d5c05422a47_1" originalw="816" src-orig="http://fictivedemo.files.wordpress.com/2011/07/unsplash_52d5c05422a47_1.jpg?w=816" scale="2"> -->
			<% end %>
	</figure>
<% end %>
<% if post.post_type == "gallery" %>
	<figure class="entry-thumbnail" style="background-color:#ffffff;margin:auto">
		<div id="wowslider-container1">
			<div class="ws_images">
				<ul>
					<% post.gallery_images.each_with_index do |gallery_image, index| %>
						<% if gallery_image.image != nil %>
							<li>
								<img src="<%= gallery_image.image.url %>" alt="<%= gallery_image.image.name %>" title="<%= gallery_image.image.name %>" id="wows1_<%= index %>"/>
							</li>
						<% end %>
					<% end %>
				</ul>
			</div>
			<div class="ws_bullets">
				<div>
					<% post.gallery_images.each_with_index do |gallery_image, index| %>
						<% if gallery_image.image != nil %>
							<a href="#" title="<%= gallery_image.image.name %>">
								<%= index+1 %>
							</a>
						<% end %>
					<% end %>
				</div>
			</div>

			<div class="ws_shadow"></div>
		</div>	
		<%= javascript_include_tag "wowslider" %>
		<%= javascript_include_tag "script_slider" %>
	</figure>
<% end %>
<% if post.post_type == "video" %>
	<figure class="entry-thumbnail">
		<iframe id="player" type="text/html" width="100%" height="400" src="http://www.youtube.com/embed/<%= post.video_url %>?enablejsapi=1&controls=0"></iframe>
	</figure>
<% end %>
<article id="post-<%= post.id %>" class="post-<%= post.id %> post type-post status-publish format-<%= post.post_type %> sticky hentry">
	<header class="entry-header">
		<h2 class="entry-title">
			<%= link_to post do %>
				<%= post.title %>
			<% end %>
		</h2>
		<div class="entry-meta">
			<span class="post-date"><a title="1:25 am" rel="bookmark"><%= post.created_at.to_s(:short) %></a></span><span class="byline">
			<span class="author"><a class="url fn n" title="Author" rel="author"> <%= @user.username %> </a></span></span>
			<div class="comments-link">
				<a id="comment-link-<%= post.id %>" title="Comment about <%= post.title %>" style="cursor: pointer;" onclick="showHideComment($('#comment-post-<%= post.id %>'))" >
					 <%= post.comments.count %>  Comments
				</a>
			</div>

		</div>
	</header><!-- .entry-header -->

	<div class="entry-content">
		<p>
			<%= post.description %>
		</p>
	</div><!-- .entry-content -->

	<footer class="entry-footer entry-meta">

		<span class="tags-links clear"> 
			<% post.tag_list.each do |tag| %>
				
   				 <%= link_to tag, tagged_blog_posts_path(tag) %>
   				 
 			<% end %>
			<!-- 
			<a href="http://fictivedemo.wordpress.com/tag/announcement/" rel="tag">announcement</a>
			<a href="http://fictivedemo.wordpress.com/tag/panache/" rel="tag">panache</a> 
			-->
		</span>
		
			<div class="entry-meta">
				<% if can? :update, post %>
					<span class="edit-link">
						<%= link_to 'Edit', edit_post_path(post) %>
					</span>
				<% end %>
				<% if can? :delete, post %>
					<span class="destroy-link">
						<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
					</span>
				<% end %>
			</div>
		
	</footer><!-- .entry-footer -->
</article><!-- #post-## -->

<!-- <div id="add_subject" style="display:none;"> TOTO </div> -->
