<h1>Posts</h1>
<br />
<br />
<% @posts.each do |post| %>

	<div class="hentry-wrapper">
		<%= render "posts/post_body", post: post %>
		
		<div id="comment-post-<%= post.id %>" style="display:none;" >
			<%= render "comments/show", post: post %>
			<% comment = post.comments.build %>
    		<% post.comments.pop %>
			<%= render 'comments/form', comment: comment %>
		</div>
	</div>

<% end %>

<div class='pagination-container'>
	<%= render "pagination" %>
	
	<br />
	
	<%= button_to 'New Post', new_post_path, :method => :get, :style => 'margin-left: 0px;'  %>
</div>

<br>
