<br />
<br />

<div class="hentry-wrapper">
	
	<%= render "posts/post_body", post: @post %>
	<div class="comment-post-<%= @post.id %>">
		<%= render "comments/show", post: @post %>
		<%= render 'comments/form', comment: @comment %>
	</div>
</div>
	
<div class="back-button"><%= link_to 'Back', posts_path %></div>
