
<% if flash[:notice] %>
	<p class="flash-notice"><%= flash[:notice] %></p>
<% end %>
<% if flash[:alert] %>
	<p class="flash-notice"><%= flash[:alert] %></p>
<% end %>
<br />
<br />

  
<div class="hentry-wrapper">
	
	<%= render "posts/post_body", post: @post %>
	<div class="comment-post-<%= @post.id %>">
		<%= render "comments/show", post: @post %>
		<%= render 'comments/form', comment: @comment %>
	</div>
</div>
	
<div class="back-button"><%= link_to 'Back', posts_path %></div>
